<section class="no-padding" id="artists">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.instagram.com/calli777_tattoos/" target="_blank" class="portfolio-box">
                    <img src="img/calli.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Chris "Calli" Callister
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.instagram.com/cloakandhammer/" target="_blank" class="portfolio-box">
                    <img src="img/drew.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Andrew Parker
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.instagram.com/mimziart/" target="_blank" class="portfolio-box">
                    <img src="img/mimzi.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                              Mimzi Awtry
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
