<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Us</h2>
                <hr class="light">
                <p class="text-faded">Iron Elephant Tattoo is a custom tattoo shop nestled in the woods of Bend, Oregon - Quality tattoos in a friendly environment. We take pride in giving our customers a great tattoo with a great experience in our studio! I.E.T. is the hidden gem of Central Oregon! We work by appointments but always take walk-ins if we are able.</p>
            </div>
        </div>
    </div>
</section>
