<section class="bg-primary" id="map">
    <div class="container-fluid">
        <div class="col-lg-6 col-sm-6">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2866.3893205072595!2d-121.30745178481413!3d44.07531733305054!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54b8c8ba2ec0c039%3A0xe0a7f1cccd4291e!2sOxygen+Tattoo!5e0!3m2!1sen!2sus!4v1461347537934" width="100%" height="325px" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="col-sm-6 text-center">
          <h2>Address</h2>
          <a href="https://www.google.com/maps/place/Oxygen+Tattoo/@44.0753173,-121.3074518,17z/data=!3m1!4b1!4m2!3m1!1s0x54b8c8ba2ec0c039:0xe0a7f1cccd4291e">
            <p>2600 NE Division St, Ste 104<br />Bend, OR</p>
          </a>
          <h2>Hours of Operation</h2>
          <p>Mon - Sat<br/>11AM - 6PM</p>
        </div>
    </div>
</section>
